<div class="notes show">
	<div class="title"><%= @note.title %> <span><%= @note.visualizations %> views</span></div>
	<div class="first-vis"> First seen in <%= @note.first_visualization.strftime("%d/%m/%Y %H:%M:%S") %></div>
	<div class="content"><%= simple_format(@note.content) %></div>
	<div class="operations">
		<button>
			<i class="fa fa-<%= @note.privacy == "public" ? "unlock" : "lock" %>" aria-hidden="true"></i>
		</button>
		<button>
			<i class="fa fa-<%= @note.status == "active" ? "check-circle" : (@note.status == "inactive" ? "times-circle" : "clock-o") %>" aria-hidden="true"></i>
		</button>
	</div>
	<div class="nav">
		<button onclick="window.history.back()">Voltar</button>
	</div>
</div>