<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <%= yield :head %>
  <%= yield :stylesheets %>
</head>
<body data-no-turbolink ng-app="note">

<!-- Angular initialization -->
<script>
	var app;
	(function() {
		app = angular.module('note', []);
	})();
	function getCSRFToken(){
		let metas = document.getElementsByTagName("meta");
		for(let meta of metas)
	    if(meta.getAttribute("name") == "csrf-token")
	        return meta.getAttribute("content");
	}
</script>

<!-- Yield content -->
<%= yield %>
<%= yield :main %>

<!-- Yield javascript here for performance -->
<%= yield :javascripts %>
</body>
</html>